
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container-login">

    <h2>Rejestracja</h2>

    <label for="login">E-mail:</label>
    <div class="box">
      <input type="text" class="form-control" id="login" formControlName="login">
    </div>

    <label for="password">Hasło: </label>
    <div class="box">
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <label for="repassword">Powtórz hasło:</label>
    <div class="box">
      <input type="password" class="form-control" id="repassword" formControlName="repassword">
    </div>

    <button type="submit" class="submitButton">Zarejestruj</button>
  </div>

</form>

