.btn{
  font-size: 15px;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a14f00;
  color: white;
  box-shadow: 3px 3px 10px #dedede;
  margin-left: 10px;
}

.btn:hover{
  transform: scale(1.05);
  transition: 200ms;
  background-color: #8c4400;
}

