.card-view{
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}
.pagination{
  display: flex;
  justify-content: center;

}

.pagination>input{
  margin-left: 10px;
  width: 40px;
  height: 30px;
}

.pagination>label{
  margin: 10px;
}

.pagination>button{
  border: none;
  width: 50px;
  background-color: white;

}
